html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: purple;
  height: 100px;
}

test {
  flex-shrink: 1;
  background: #cccccc;
}

.generic-button {
  box-sizing: border-box;
  width: 100%;
  
  display:inline-block;
  transition: all 0.2s;
}

.personal-info-edit {
  display:flex;
  flex-direction: column;
}

.description-box {
  background: #cccccc;
  border-radius: 14px;
  padding: 5%;


  /* User_Info -> description */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  color: #000000;
}

article {
  flex-shrink: 1;
}

section {
  display: flex;
  margin-left:8%;
  margin-right:8%;
  padding: 1%;
  border: solid rgb(107, 107, 107);
  border-width: thick;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

personals {
display: flex;
flex-direction: column;
flex-shrink: 1;
width: 25%;
padding: 2%;
}

.article-edit-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article-input-fields {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.save-changes-buttons {
  display: flex;
  justify-content: right;
}

.save-changes-button {
  size: 10%;
}

.description-box-container {
  padding:2%;
  flex-shrink: 1;
  width: 100%;
}

.description-box {
  resize: none;
  height: 100%;
  width: 100%;
  
}

.article-edit-menu-account {
  padding: 2%;
}

img {
  border-radius: 50%;
  width: 100%;
  padding: 2%;
}

content {
  width: 75%;
}

.article-head {
  display: flex; 
  justify-content: space-between;
  padding-left: 2%;
}

.article-date {
  display: flex;
}

.personal-info-bit {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
margin: 2%;
text-align: center;
}

.article-content {
background: #cccccc;
border-radius: 14px;
box-shadow: 3px 3px 6px;
padding: 2%;


/* User_Info -> description */
font-family: Roboto;
font-style: normal;
font-weight: normal;

color: #000000;
width: 100%;
}
