.searchbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.searchbar-options-container {
  display: flex;
  flex-direction: column;
}

.search-results-container {
  padding: 0 100px;
  white-space: pre-wrap;
}